﻿@{
	Layout = "_LayoutCustomer";
}

@RenderSection("BreadCum", required: false)

<div class="container-fluid fruite py-5">
	<div class="container py-5" style="max-width:90% !important">
		<div class="row g-4">
			<div class="col-lg-12">
				<div class="row g-4">
					<div class="col-lg-3">
						<h3 class="pb-3">Bộ Lọc Nâng Cao</h3>
						<div class="row g-4">
							@await Component.InvokeAsync("Filter")
							<div class="col-lg-12">
								<div class="mb-3" id="price-ranges">
									<h4>Giá bán</h4>
									<div class="mb-2">
										<input type="radio" class="me-2" id="price1" data-min="0" data-max="100000">
										<label for="Categories-1"> Dưới 100.000đ</label>
									</div>
									<div class="mb-2">
										<input type="radio" class="me-2" id="price2" data-min="100000" data-max="300000">
										<label for="Categories-2"> 100.000đ đến 300.000đ</label>
									</div>
									<div class="mb-2">
										<input type="radio" class="me-2" id="price3" data-min="300000" data-max="500000">
										<label for="Categories-3"> 300.000đ đến 500.000đ</label>
									</div>
									<div class="mb-2">
										<input type="radio" class="me-2" id="price4" data-min="500000" data-max="100000000">
										<label for="Categories-4"> Trên 500.000đ</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="row g-4 justify-content-start">
							@RenderBody()
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const ccheckboxes = document.querySelectorAll('#categories input[type="checkbox"]');
		const vcheckboxes = document.querySelectorAll('#vendors input[type="checkbox"]');
		const radioButtons = document.querySelectorAll('#price-ranges input[type="radio"]');
		const button1 = document.getElementById("button1");
		const button2 = document.getElementById("button2");
		const dropdownButton = document.querySelector('.dropdown-button');
		const searchButton = document.getElementById("seachButton");
		const searchText = document.getElementById("searchText");

		var items = document.querySelectorAll('.dropdown-content a');

		console.log(searchButton);

		let lastChecked = null;

		const urlParams = new URLSearchParams(window.location.search);

		// Initialize categoryIds from URL params if available
		let categoryIds = urlParams.getAll('categoryId').map(Number);

		// Initialize vendorIds from URL params if available
		let vendorIds = urlParams.getAll('vendorId').map(Number);

		// Initialize minPrice and maxPrice from URL params if available
		let selectedMinPrice = urlParams.get('minPrice');
		let selectedMaxPrice = urlParams.get('maxPrice');
		let sort = urlParams.get('sortByPrice') ?? 'asc';
		let length = urlParams.get('length') ?? 10;
		let search = urlParams.get('search');

		if (sort === 'desc') {
			sort = 'desc';
			button2.style.border = "1px solid red";
			button2.style.fontWeight = "bold";
			button2.style.color = "red";
		}
		else {
			sort = 'asc';
			button1.style.border = "1px solid red";
			button1.style.fontWeight = "bold";
			button1.style.color = "red";
		}

		dropdownButton.textContent = `Hiển thị ${length}`;
		searchText.value = search;

		items.forEach(item => {
			item.addEventListener('click', event => {
				event.preventDefault();
				length = item.dataset.value;
				dropdownButton.textContent = `${item.textContent}`;
				loadViewWithParams(categoryIds, vendorIds, selectedMinPrice, selectedMaxPrice, sort, length, search);
			});
			console.log(length);
			console.log(item.dataset.value);
			if (length == item.dataset.value) {
				console.log(length);

				item.style.backgroundColor = "gray";
				item.style.pointerEvents = "none";
			}
		});

		button1.addEventListener('click', function () {
			if (sort !== 'asc') {
				sort = 'asc';
				button1.style.border = "1px solid red";
				button1.style.fontWeight = "bold";
				button1.style.color = "red";
				button2.style.border = "1px solid black";
				button2.style.fontWeight = "regular";
				button2.style.color = "black";
				loadViewWithParams(categoryIds, vendorIds, selectedMinPrice, selectedMaxPrice, sort, length, search);
			}
		});

		button2.addEventListener('click', function () {
			if (sort !== 'desc') {
				sort = 'desc';
				button1.style.border = "1px solid black";
				button1.style.fontWeight = "regular";
				button1.style.color = "black";
				button2.style.border = "1px solid red";
				button2.style.fontWeight = "bold";
				button2.style.color = "red";
				loadViewWithParams(categoryIds, vendorIds, selectedMinPrice, selectedMaxPrice, sort, length, search)
			}
		});

		searchButton.addEventListener('click', function () {
			search = searchText.value;
			loadViewWithParams(categoryIds, vendorIds, selectedMinPrice, selectedMaxPrice, sort, length, search)
		});

		ccheckboxes.forEach(checkbox => {
			// Set the checkbox state based on categoryIds
			if (categoryIds.includes(parseInt(checkbox.value))) {
				checkbox.checked = true;
			}

			checkbox.addEventListener('change', function () {
				const value = parseInt(checkbox.value);
				if (checkbox.checked) {
					// Add to categoryIds if checked
					if (!categoryIds.includes(value)) {
						categoryIds.push(value);
					}
				} else {
					// Remove from categoryIds if unchecked
					categoryIds = categoryIds.filter(id => id !== value);
				}
				loadViewWithParams(categoryIds, vendorIds, selectedMinPrice, selectedMaxPrice, sort, length, search);
			});
		});
		vcheckboxes.forEach(checkbox => {
			// Set the checkbox state based on vendorIds
			if (vendorIds.includes(parseInt(checkbox.value))) {
				checkbox.checked = true;
			}

			checkbox.addEventListener('change', function () {
				const value = parseInt(checkbox.value);
				if (checkbox.checked) {
					// Add to vendorIds if checked
					if (!vendorIds.includes(value)) {
						vendorIds.push(value);
					}
				} else {
					// Remove from vendorIds if unchecked
					vendorIds = vendorIds.filter(id => id !== value);
				}
				loadViewWithParams(categoryIds, vendorIds, selectedMinPrice, selectedMaxPrice, sort, length, search);
			});
		});
		radioButtons.forEach(radio => {
			// Set the radio button state based on minPrice and maxPrice
			if (radio.dataset.min === selectedMinPrice && radio.dataset.max === selectedMaxPrice) {
				radio.checked = true;
				lastChecked = radio;
			}

			radio.addEventListener('change', function () {
				if (radio === lastChecked) {
					radio.checked = false;
					lastChecked = null;
					loadViewWithParams(categoryIds, vendorIds, null, null);
				} else {
					lastChecked = radio;
					const minPrice = radio.dataset.min;
					const maxPrice = radio.dataset.max;
					loadViewWithParams(categoryIds, vendorIds, minPrice, maxPrice, sort, length, search);
				}
			});
		});
	});

	function loadViewWithParams(categoryIds, vendorIds, minPrice, maxPrice, sort, length, search) {
		const url = new URL(window.location.href);
		url.search = ''; // Clear existing query params

		if (search != null && search != '') {
			url.searchParams.set('search', search);
		}

		categoryIds.forEach(id => {
			url.searchParams.append('categoryId', id);
		});

		vendorIds.forEach(id => {
			url.searchParams.append('vendorId', id);
		});

		if (minPrice != null && maxPrice != null) {
			url.searchParams.set('minPrice', minPrice);
			url.searchParams.set('maxPrice', maxPrice);
		}

		url.searchParams.set('sortByPrice', sort);
		url.searchParams.set('length', length);

		window.location.href = url.toString();
	}
</script>